<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="zh"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="zh"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh"> <!--<![endif]-->

<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">
         [[${#props.get('siteTitle')}]]
    </title>
    <th:block th:include="layout/partials/head" />
</head>

<body th:class="${'locale-' + session.blLocale.localeCode} + ' index-page'">
    <div id="notification_bar"></div>
    <div th:replace="layout/partials/nav"></div>
    <div class="main checkout-page">
        <div class="container">
            <div layout:fragment="content" ></div>
        </div>
    </div>

    <th:block layout:fragment="post-content" />
    <th:block th:replace="partials/store"></th:block>
    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=0ztLsTTubZFUCTY92bo75QfE"></script>
    <footer th:replace="layout/partials/footer"></footer>
    <script src="/static/pc/js/store.js"></script>
    <script src="/static/pc/js/serviceCategory.js"></script>
</body>
</html>
