<div id="account" layout:decorate="~{mobile/layout/fullPageLayout}" layout:fragment="content">
    <head>
        <title>注册</title>
    </head>

    <div class="section">
        <div class="row row-centered" style="margin-left: 0;margin-right: 0;">
           <!-- <div id="login" class="login col-sm-5 col-centered">
                <div th:replace="mobile/authentication/loginForm"></div>
            </div>
            <div class="col-sm-1 col-centered hidden-xs">
                <div class="col-centered-separator"></div>
            </div>-->
            <div id="register" class="register col-sm-5 col-centered">
                <div th:replace="mobile/authentication/registerForm"></div>
            </div>

        </div>
    </div>
</div>