<div class="text-center-mobile">
    <div class="product-social-media">
        <span class="share-label"><span th:utext="#{product.share}">分享</span>:</span>
        <button class="btn btn-simple -mob-share-open">
            <i class="fa fa-share-alt"></i>
        </button>
        <!--
        <button class="btn btn-simple btn-instagram">
            <i class="fa fa-instagram"></i>
        </button>
        <button class="btn btn-simple btn-google">
            <i class="fa fa-google-plus-square"></i>
        </button>
        <button class="btn btn-simple btn-pinterest">
            <i class="fa fa-pinterest-square"></i>
        </button>
        <button class="btn btn-simple btn-twitter">
            <i class="fa fa-twitter-square"></i>
        </button>
        <div class="-mob-share-ui-button -mob-share-open">分享</div>
        -->
    </div>
</div>