<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content">
    <head>
        <title>重置密码错误</title>
    </head>
    
    <div id="resetPassword">
        <h3>重置密码错误</h3>
        
        <span class="error" th:switch="${errorCode}" th:if="${errorCode}"> 
            <p th:case="'tokenUsed'">重置密码URL已被点击使用。请点击下面“忘记密码”链接重试。</p>
            <p th:case="'tokenExpired'">重置密码URL已过期。请点击下面“忘记密码”链接重试。</p>
            <p th:case="*">重置密码URL无效</p>
        </span>

        <a class="account" th:href="@{/login/forgotPassword}">忘记密码</a>
        <br/>
        <a class="account" th:href="@{/login}">登录</a>
        <br/>
        <a class="account" th:href="@{/register}">注册</a>
                        
    </div>
</div>
