    <div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content">
    <head>
        <title>重置密码</title>
    </head>

    <div id="resetPassword" class="section">

        <div class="row row-centered">
            <div class="register col-sm-5 col-centered">
                <div class="text-center">
                    <h3>重置密码</h3>
                    <p>请输入您的新密码</p>
                </div>
                <div style="color: #b94a48;" class="text-center" th:if="${'invalidToken'.equals(errorCode)}">Token无效</div>
                <blc:form id="resetPasswordForm" th:object="${resetPasswordForm}" th:action="@{/login/resetPassword}" method="post">
                    <input type="hidden" th:value="${resetPasswordForm.token}" name="token" />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="material-icons">phone_iphone</i></span>
                        <div class="label-floating form-group error-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                            <label class="control-label" for="username">手机号</label>

                            <input type="tel" readonly="readonly" th:field="*{username}" class="form-control" />
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="text-danger" th:each="err : ${#fields.errors('username')}"
                                  th:utext="${err}"></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="material-icons">lock</i></span>
                        <div class="label-floating form-group error-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                            <label class="control-label" for="password">密码</label>

                            <input type="password" th:field="*{password}" class="form-control" />
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="text-danger" th:each="err : ${#fields.errors('password')}"
                                  th:utext="${err}"></span>
                        </div>
                    </div>
                    <div class="register-input-no-icon">
                        <div class="label-floating form-group error-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error'">
                            <label class="control-label" for="passwordConfirm">确认密码</label>

                            <input type="password" th:field="*{passwordConfirm}" class="form-control" />
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="text-danger" th:each="err : ${#fields.errors('passwordConfirm')}"
                                  th:utext="${err}"></span>
                        </div>
                    </div>
                    <div class="login_register">
                        <input class="btn btn-primary btn-block" type="submit" value="重置密码"/>
                    </div>
                </blc:form>
            </div>
        </div>
    </div>
</div>