*{
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
html{
    /*height: 100% !important;*/
}
body{
    background-color: #f5f5f5 !important;
    /*height: 100% !important;*/
    /*flex-direction: column!important;
    display: flex!important;*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei",  "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
#toast-container {
    z-index: 100;
}
.card-light-shadow {
    box-shadow: 0 12px 34px -12px rgba(0, 0, 0, 0.3), 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.main {
    margin-top: 166px;
    min-height: 650px;
    min-width: 1230px;
}

.section {
    padding: 35px 0;
}

.is-hidden { display: none !important; visibility: hidden; }

.card, .nav-pills:not(.nav-pills-icons) > li > a  {
    border-radius: 3px;
}

.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    top: -22px;
}

.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
    font-weight: 500;
    font-family: inherit;
}

.breadcrumb-container {
    padding-top: 2em;
    margin-bottom: -1em;
    margin-left: -1em;
    padding-left: 15px;
    padding-right: 15px;
}

.no-right-padding {
    padding-right: 0;
}
.no-left-padding {
    padding-left: 0;
}
.display-inline-block {
    display: inline-block;
}

@media (max-width: 768px) {
    .main {
        margin-top: 50px;
    }

    .card-product {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    /* Force table to not be like tables anymore */
    .mobile-table > table,
    .mobile-table > thead,
    .mobile-table > tbody,
    .mobile-table-tables th,
    .mobile-table > thead > tr,
    .mobile-table > thead > tr > td,
    .mobile-table > tbody > tr,
    .mobile-table > tbody > tr > td {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .mobile-table > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .mobile-table > tbody > tr { border: 1px solid #ccc; }

    .mobile-table > tbody > tr > td {
        position: relative;
        text-align: left;
        overflow: hidden;
        padding: 20px 5px 5px 10px !important;
    }

    .mobile-table > tbody > tr > td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .mobile-table > tbody > tr > td:before { content: attr(data-title); }
}

/* Makes an element position: absolute and centers it */
.cntr-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cntr-abs-horz {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.cntr-abs-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-fit-parent,
.nav > li > a > .img-fit-parent {
    max-width: 100%;
}

.full-width {
    width: 100%;
}
.main{
    z-index: unset !important;
}
/**PC服务分类样式**/
@media (min-width: 768px) {
    .service-category-link{
        color: #ffffff !important;
    }
    .banner-container {
        height: 566px !important;
    }

    .service-category {
        width: 200px;
        background-color: #0255A3;
        color: #ffffff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    /*li.service-category:hover  a{
      color: #ffffff;
    }*/
    .service-category-panel {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 566px;
        text-align: left;
        /*display: none;*/
        background: rgba(0, 0, 0, 0.6);
    }

    .service-category-panel .service-category-tab a {
        color: #ffffff;
    }

    li.service-category-tab-container:hover {
        background-color: #f3f4f4;
        color: #1a1a1a;
    }

    li.service-category-tab-container:hover div > a {
        color: #1a1a1a;
    }

    li.service-category-tab-container:hover div > i {
        color: #1a1a1a;
    }

    .service-category-panel ul {
        padding-top: 0px;
        padding-left: 0px;
        position: relative;
    }

    li.service-category-tab-container {
        list-style: none;
        padding: 20px;
        cursor: pointer;
    }

    .service-category-panel .left-panel-menu-icon {
        padding-right: 5px;
    }

    .service-category-panel .chevron-right {
        float: right;
        color: #ffffff;
    }

    .service-category-tab-content {
        position: absolute;
        left: 200px;
        top: 0px;
        float: left;
        background-color: #f3f4f4;
        height: 566px;
        width: 600px;
        /*display: none;*/
    }

    .service-category-tab-content h5 {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        color: #000000;
        padding-top: 10px;
        border-bottom: 1px solid #ebebeb;
    }

    .service-category-tab-content ul {
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .service-category-tab-content li {
        float: left;
        padding-right: 20px;
    }

    .service-category-tab-content a {
        color: #1a1a1a;
        line-height: 30px;
    }

    .service-category-tab-content a:hover {
        color: #E40037;
    }

    .clear-float {
        clear: both;
    }
}

.carousel-inner .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.js-inCartLinkContainer{
    height: 20px;
}
.success{
    color: #3c763d;
}

.site-footer{
    background-color: #000000;
    min-height: 100px;
    color: #ffffff;
    border-top: none;
    /*position: relative;
    margin-top: auto !important;*/
}
.site-footer .col-md-4{
    background-color: #000000;
}
.site-footer a{
    color: #ffffff !important;
    padding-top: 5px;
    padding-bottom: 5px;
}


.floor-title {
    position: relative;
}
.floor-tit-img {
    height: 37px;
}
.floor-tit-img .tit-img, .floor-tit-img .tit-img img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.floor-tit-img .tit-img {
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.floor-tit-img .tit-img img {
    min-width: 1px;
    width: auto;
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
}
.floor-tit-img .tit-img, .floor-tit-img .tit-img img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.city{
    background-color: #f5f5f5;
    height: 35px;
    line-height: 35px;
}
.city h4{
    padding: 5px 5px  5px 10px;
}
.store{
    border-bottom: dotted 1px #9d9d9d;
    padding-left: 20px;
}
.product-operations-container{
    height: 61px;
}
.footer-nav li{
    display: inline !important;
}
.footer-nav li a{
    padding-left: 0;
}
.footer-col{
    text-align: left;
}