<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:utext="#{${field.friendlyName}}"></span>
    <span th:replace="components/fieldTooltip" ></span>
</label>
<div class="input-group">
    <input type="text" th:field="*{fields['__${field.name}__'].value}" >
    <span class="input-group-btn">
                    <button class="clear-foreign-key secondary button" type="button" style="display:none">
                        <i class="fa fa-times"></i>
                    </button>

                    <button class="secondary button" type="button" style="width: 100px;" onclick="showBaiduMap()">
                        <i class="blc-icon-search" ></i>设置经纬度
                    </button>
                </span>
</div>
<span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>

