<html layout:decorate="~{mobile/layout/accountLayout}">
<th:block layout:fragment="custom-head">
    <style type="text/css">
        .evidence li{
            list-style: none;
            float: left;
            padding-right: 20px;
        }
    </style>
    <link th:href="${#sf.url('/libs/lightbox/css/lightbox.min.css')}" rel="stylesheet" type="text/css" />
</th:block>
<th:block layout:fragment="content">
    <div class="card manage-account-form-wrapper js-manageAccountFormWrapper">
        <h3>退款详情</h3>
        <div>订单明细</div>
        <table style="width: 100%;" class="table">
            <tr th:each="orderItem : ${order.orderItems}" >
                <td style="width: 80px;">
                    <a th:href="${orderItem.getSku().getProduct().getUrl()}">
                        <img th:src="${orderItem.product.media['primary'].url}" style="padding-bottom: 10px;padding-top: 10px;">
                    </a>
                </td>
                <td class="order-item-col" style="vertical-align: top;width: 300px;" th:classappend="${!orderItemStat.last} ? 'order-item-bottom-border'">
                    <div style="padding-left: 10px;">
                        <a th:href="${orderItem.getSku().getProduct().getUrl()}" th:utext="${orderItem.getName()}"></a>
                    </div>
                    <span class="order-item-attr" th:each="attr: ${orderItem.getOrderItemAttributes()}">
                        <small th:utext="${attr.value.name}"></small>：<small th:utext="${attr.value.value}"></small>&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </td>
                <td class="order-item-col" style="width: 100px;vertical-align: top;" th:classappend="${!orderItemStat.last} ? 'order-item-bottom-border'">
                    <span style="padding-left: 10px;" blc:price="*{orderItem.salePrice}"></span>
                </td>
                <td class="order-item-col" style="vertical-align: top;" th:classappend="${!orderItemStat.last} ? 'order-item-bottom-border'" th:utext="${'x &nbsp;&nbsp;' + orderItem.getQuantity()}">

                </td>
            </tr>
        </table>
        <div>退款申请</div>
        <table class="table table-hover">
            <tr>
                <td style="width: 100px;">退款金额</td>
                <td th:text="${afterSales.applyRefundAmount}"></td>
            </tr>
            <tr>
                <td style="width: 100px;">退款理由</td>
                <td th:text="${afterSales.reason}"></td>
            </tr>
            <tr th:if="${customer.firstName != null && customer.lastName != null}">
                <td style="width: 100px;">退款申请人</td>
                <td th:text="${customer.firstName + customer.lastName}"></td>
            </tr>
            <tr>
                <td style="width: 100px;">联系方式</td>
                <td th:text="${customer.username}"></td>
            </tr>
            <tr>
                <td style="width: 100px;">退款申请状态</td>
                <td th:text="${afterSales.auditStatus?.friendlyType}"></td>
            </tr>
            <tr>
                <td style="width: 100px;">退款状态</td>
                <td th:if="${afterSales.refundStatus != null}" th:text="${afterSales.refundStatus?.friendlyType}"></td>
                <td th:if="${afterSales.refundStatus == null}">-</td>
            </tr>
            <tr>
                <td style="width: 100px;">申请日期</td>
                <td th:text="${afterSales.createTime}"></td>
            </tr>
            <tr>
                <td style="width: 100px;">证据</td>
                <td>
                    <ul class="evidence">
                        <li th:each="item : ${afterSales.evidence}">
                            <a th:href="${item}" data-lightbox="roadtrip">
                                <img style="width: 100px;" th:src="${item}">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </div>
</th:block>
<th:block layout:fragment="custom-script">
<script th:src="${#sf.url('/libs/lightbox/js/lightbox.min.js')}"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
</th:block>
</html>