<html layout:decorate="~{mobile/layout/accountLayout}">
<th:block layout:fragment="custom-head">
    <style type="text/css">
        .apply-refund-form{
            margin-bottom: 50px;
        }
        .order-total{
            text-align: right;
            font-weight: bold;
        }
        .radio .help-block{
            padding-left: 15px;
        }
        .refund{
            text-align: center;
        }
        .refund button{
            margin-top: 20px;
        }
    </style>
</th:block>
<th:block layout:fragment="content">
    <div class="card manage-account-form-wrapper js-manageAccountFormWrapper">
        <h3>修改评价</h3>
        <table style="width: 100%;" class="table">
            <tr th:each="orderItem : ${order.orderItems}" >
                <td style="width: 200px;text-align: center;" th:classappend="${!orderItemStat.last} ? 'order-item-bottom-border'">
                    <a th:href="${orderItem.getSku().getProduct().getUrl()}">
                        <img th:src="${orderItem.product.media['primary'].url}" style="padding-bottom: 10px;padding-top: 10px;width: 150px;">
                    </a>
                    <p>
                        <a th:href="${orderItem.getSku().getProduct().getUrl()}" th:utext="${orderItem.getName()}"></a>
                    </p>
                    <p>
                        <span style="padding-left: 10px;" blc:price="*{orderItem.salePrice}"></span>
                    </p>
                </td>
                <td class="order-item-col" style="vertical-align: top;" th:classappend="${!orderItemStat.last} ? 'order-item-bottom-border'">
                    <blc:div class="new-rating" th:with="rate=${orderRating.getOrderItemProductRating(orderItem.getSku().getProduct().getId())}"
                             th:data-product-id="${orderItem.getSku().getProduct().getId()}" th:data-item-id="${orderItem.id}">
                        <div class="customer-rating" th:data-item-id="${orderItem.id}" th:data-customer-rating="${rate.rating}">
                            <label>&nbsp;<span>评分</span></label>
                            <input type="radio" class="star" th:name="${'rating-' + orderItem.id}" value="1"/>
                            <input type="radio" class="star" th:name="${'rating-' + orderItem.id}" value="2"/>
                            <input type="radio" class="star" th:name="${'rating-' + orderItem.id}" value="3"/>
                            <input type="radio" class="star" th:name="${'rating-' + orderItem.id}" value="4"/>
                            <input type="radio" class="star" th:name="${'rating-' + orderItem.id}" value="5"/>
                        </div>
                        <div th:class="${'rating-star-error-' + orderItem.id}" style="color: #E40037;display: none;"></div>
                        <div class="form-group label-floating" style="width: 100% !important;">
                            <label class="control-label">评论内容</label>
                            <span class="text-danger"></span>
                            <textarea th:text="${rate.reviewText}" th:data-item-id="${orderItem.id}" th:name="${'reviewText-' + orderItem.id}"  class="form-control" rows="6">

                            </textarea>
                        </div>
                        <div th:class="${'rating-review-text-error-' + orderItem.id}" style="color: #E40037;display: none;"></div>
                    </blc:div>

                </td>
            </tr>
        </table>
        <div style="text-align: center;">
            <button id="submit-rate" type="button" class="btn btn-danger">
                提交
            </button>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-script">
    <script th:inline="javascript">
        $(function (){
            var $customerRating = $('.customer-rating');
            $customerRating.each(function() {
                var customerRating = $(this).data('customer-rating') - 1;
                $(this).find('input.star').rating('select', customerRating).rating('enable');
            });
            //提交评论
            $('#submit-rate').bind('click',function (){
                var error = false;
                var newRatings = $('.new-rating');
                var rates = [];
                for(var i=0;i<newRatings.length;i++){
                    var orderItemId = $(newRatings[i]).data('item-id');
                    var productId = $(newRatings[i]).data('product-id');
                    var rate = $(newRatings[i]).find('input[name="rating-' + orderItemId + '"]:checked').val();
                    var reviewText = $.trim($(newRatings[i]).find('textarea').val());
                    if (!rate || rate === ''){
                        $(newRatings[i]).find('.rating-star-error-' + orderItemId).show();
                        $(newRatings[i]).find('.rating-star-error-' + orderItemId).text('忘记打分咯');
                        error = true;
                    }
                    if (!reviewText || reviewText === ''){
                        $(newRatings[i]).find('.rating-review-text-error-' + orderItemId).show();
                        $(newRatings[i]).find('.rating-review-text-error-' + orderItemId).text('请填写评论内容');
                        error = true;
                    }
                    rates.push({
                        productId : productId,
                        rating : rate,
                        reviewText : reviewText
                    });
                }
                if (!error){
                    $.ajax({
                        url : '/account/orders/updateOrderRate?csrfToken=' + params.csrfToken,
                        type : 'POST',
                        data : JSON.stringify({
                            orderId : '[[${order.id}]]',
                            orderItemRates : rates
                        }),
                        contentType : 'application/json',
                        success : function (res){
                            if (res.status === 'SUCCESS'){
                                toastr.success('评论提交成功');
                            }else {
                                toastr.error('评论提交失败');
                            }
                        },
                        error:function (){
                            toastr.error('评论提交失败');
                        }
                    })
                }
            });
            //监听打分变化
            $('.star-rating').bind('click',function (){
                $('.rating-star-error-' + $(this).parent().parent().data('item-id')).hide();
            });
            //监听评论内容
            $('textarea').bind('change',function (){
                if($.trim($(this).val()) !== ''){
                    $('.rating-review-text-error-' + $(this).data('item-id')).hide();
                }
            });
        });

    </script>
</th:block>
</html>